<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{ name }}

    {% for item in list %}
        {{ item }}
    {% endfor %}
</body>
</html>