<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./test/bootstrap.php">
    <testsuite name="Log">
        <directory suffix="Test.php">./test/Logger</directory>
    </testsuite>
    <testsuite name="Container">
        <directory suffix="Test.php">./test/Container</directory>
    </testsuite>
    <testsuite name="Session">
        <directory suffix="Test.php">./test/Session</directory>
    </testsuite>
    <testsuite name="Router">
        <directory suffix="Test.php">./test/Router</directory>
    </testsuite>
</phpunit>
